.bbox {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 1px solid;
}
.bbox1 {
  top: 50px;
  left: 0px;
  background-color: #dae8fc;
}
.bbox2 {
  top: 50px;
  left: 250px;
  background-color: #fdf2cc;
}
.bbox3 {
  top: 300px;
  left: 0px;
  background-color: #fdf2cc;
}
.bbox4 {
  top: 300px;
  left: 250px;
  background-color: #e1d5e7;
}
.box2 {
  position: absolute;
  width: 210px;
  height: 230px;
  border: 1px solid;
  margin: 15px;
  background-color: #fdf2cc;
}
div.box1 {
  position: relative;
  top: 0px;
  width: 500px;
  height: 50px;
  border: 1px solid;
}
.main {
  position: relative;
  margin: 50px;
  top: 50px;

  width: 500px;
  height: 552px;
  border: 1px solid;
  overflow-x: hidden;
  overflow-y: auto;
}
.subbox {
  background-color: #2f50ef;
  position: relative;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #2f50ef;
}
.subbox1 {
  top: 25px;
  left: 100px;
}
.subbox3 {
  bottom: 0;
  left: 100px;
}
.subbox4 {
  bottom: 100px;
  left: 100px;
}
.centermain{
  position: relative;
  width: 250px;
  text-align: center;
  font-size: 18px;
}
.center1 {
  
  left: 0;
  top: 100px;
  width: 200px;
  font-weight: 500;
}
.center {
  position: relative;
  left: 0;
  font-weight: 900;
  top: 150px;
}
.centertop {
  font-weight: 900;
  left: 0;
  top: 0;
}
.des {
  text-align: center;
 }
@media only screen and (max-width: 500px) {
  .bbox {
    width: 125px;
    height: 125px;
  }
  .bbox1 {
    top: 25px;
    left: 0px;
  }
  .bbox2 {
    top: 25px;
    left: 125px;
  }
  .bbox3 {
    top: 150px;
    left: 0px;
  }
  .bbox4 {
    top: 150px;
    left: 125px;
  }
  .box2 {
    width: 105px;
    height: 110px;
    border: 1px solid;
    margin: 7.5px;
  }
  div.box1 {
    top: 0px;
    width: 250px;
    height: 25px;
  }
  .main {
    margin: 25px;
    top: 25px;
    width: 250px;
    height: 277px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .subbox {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 9px;
  }
  .subbox1 {
    top: 12.5px;
    left: 50px;
  }
  .subbox3 {
    bottom: 0;
    left: 50px;
  }
  .subbox4 {
    bottom: 50px;
    left: 50px;
  }
  .centermain {
    position: absolute;
    text-align: center;
    font-size: 9px;
  }
  .center1 {
    left: 0;
    top: 50px;
    width: 100px;
  }
  .center {
    left: 0;
    top: 75px;
    width: 125px;
  }
  .centertop {
    left: 0;
    top: 0;
    width: 125px;
  }
  .des {
    text-align: center;
  }
}
