$flexheight:80%;
$flexwidth:60%;
$topheight:10%;

$fonstize:30px;
$mt:10px;
$smwidth:100%;

@mixin postisioning($display,$flexdir,$align,$justify,$height,$width) {
    display: $display;
    flex-direction: $flexdir;
    align-items: $align;
    justify-content: $justify;
    height: $height;
    width: $width;
}
@mixin smbox($bheight,$bwidth,$justify,$align,$pad) {
    height: $bheight;
    width: $bwidth;
    justify-content: $justify;
    text-align: $align;
    margin: $pad;
}
.secondrow{
    width: $flexwidth;
    background-color: #f0a30b !important;
    @include postisioning(flex,column ,center ,center,(90%)/3 , 100%);
}
.flex-container {
    -webkit-flex-didisplay: flex;
    flex-direction: row;
    @include postisioning(flex,column ,none ,none ,550px ,450px );
    border: 1px solid;}
   div {
    font-size: $fonstize;
    @include postisioning(flex,column ,center ,center,(90%)/3,100%);    

}
.toprow{
    display: flex;
    height: $topheight;
    background-color: white ;
    justify-content: center;
    padding-top: $mt;
    }
.thirdrow{
    text-align: center;
    background-color: dodgerblue;
}
.lastrow{
    background-color: #60a917;
}
.boxcontainer{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: $align;
    background-color: dodgerblue;
    
    
   div{
    @include smbox(50px,50px ,center , space-around ,10px);
    background-color: #dae8fc;
    }
}
  .boxcontainer1{ 
    display: -webkit-flex; /* Safari */
    -webkit-flex-didisplay: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #dae8fc;
    @include postisioning(-webkit-flex,row ,center ,center ,(90%)/3  ,100%);
   div{
    @include smbox(50px,50px ,center,center ,10px);
    }
}

.boxcontainer2{
    -webkit-flex-didisplay: flex;
    @include postisioning(flex,row ,none ,space-around,(90%)/3 ,100%);
   div{
    @include smbox(60px,60px ,center ,space-around,10px );
    border :0.5px solid;
    background-color: #e0e0e0;
  } 
}
  .settext{ text-align: center;  }
