.secondrow {
  width: 60%;
  background-color: #f0a30b !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.flex-container {
  -webkit-flex-didisplay: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  height: 550px;
  width: 450px;
  border: 1px solid;
}

div {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.toprow {
  display: flex;
  height: 10%;
  background-color: white;
  justify-content: center;
  padding-top: 10px;
}

.thirdrow {
  text-align: center;
  background-color: dodgerblue;
}

.lastrow {
  background-color: #60a917;
}

.boxcontainer {
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-direction: row-reverse;
  /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
}
.boxcontainer div {
  height: 50px;
  width: 50px;
  justify-content: center;
  text-align: space-around;
  margin: 10px;
  background-color: #dae8fc;
}

.boxcontainer1 {
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-didisplay: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #dae8fc;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.boxcontainer1 div {
  height: 50px;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.boxcontainer2 {
  -webkit-flex-didisplay: flex;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-around;
  height: 30%;
  width: 100%;
}
.boxcontainer2 div {
  height: 60px;
  width: 60px;
  justify-content: center;
  text-align: space-around;
  margin: 10px;
  border: 0.5px solid;
  background-color: #e0e0e0;
}

.settext {
  text-align: center;
}

/*# sourceMappingURL=flex.css.map */
