$sbcolor:#2f50ef;
@mixin box($position,$height,$width,$border){
    position: $position;
    height: $height;
    width: $width;
    border: $border;
}
@mixin pos($top,$left) {
    top: $top;
    left: $left;    
}
.main {
  @include box(relative,552px,500px,1px solid);
  margin: 50px;
  top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
div.box1 {
    @include box(absolute,50px,500px,1px solid);
    top: 0px;
}
.box2 {
    @include box(absolute,210px,230px,1px solid);
    margin: 10px;
    background-color: #fdf2cc;
}
.bbox {
    @include box(absolute,250px ,250px ,1px solid );
  }
  .bbox1 {
    @include pos(50px,0px);
    background-color: #dae8fc;
  }
  .bbox2 {
      @include pos(50px,250px);
    background-color: #fdf2cc;
  }
  .bbox3 {
    @include pos(300px,0px);
    background-color: #fdf2cc;
  }
  .bbox4 {
    @include pos(300px,250px );
    background-color: #e1d5e7;
}
  .subbox {
    background-color: $sbcolor;
    @include box(absolute,50px ,50px ,1px solid);
    color: white;
    text-align: center;
  }
  .subbox1 {
    @include pos(25px,100px );
  }
  .subbox3 {
    bottom: 0;
    left: 100px;
  }
  .subbox4 {
    bottom: 100px;
    left: 100px;
  }
  .centermain{
    position: absolute;
    width: 250px;
    text-align: center;
    font-size: 18px;
  }
  .center1 {
    @include pos(100px,0px );
    width: 200px;
    font-weight: 500;
  }
  .center {
    position: absolute;
    @include pos(150px,0px );
    font-weight: 900;
  }
  .centertop {
    font-weight: 900;
    @include pos(0px,0px );
  }
  .des {
    text-align: center;
   } 