.main {
  position: relative;
  height: 552px;
  width: 500px;
  border: 1px solid;
  margin: 50px;
  top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

div.box1 {
  position: absolute;
  height: 50px;
  width: 500px;
  border: 1px solid;
  top: 0px;
}

.box2 {
  position: absolute;
  height: 210px;
  width: 230px;
  border: 1px solid;
  margin: 10px;
  background-color: #fdf2cc;
}

.bbox {
  position: absolute;
  height: 250px;
  width: 250px;
  border: 1px solid;
}

.bbox1 {
  top: 50px;
  left: 0px;
  background-color: #dae8fc;
}

.bbox2 {
  top: 50px;
  left: 250px;
  background-color: #fdf2cc;
}

.bbox3 {
  top: 300px;
  left: 0px;
  background-color: #fdf2cc;
}

.bbox4 {
  top: 300px;
  left: 250px;
  background-color: #e1d5e7;
}

.subbox {
  background-color: #2f50ef;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid;
  color: white;
  text-align: center;
}

.subbox1 {
  top: 25px;
  left: 100px;
}

.subbox3 {
  bottom: 0;
  left: 100px;
}

.subbox4 {
  bottom: 100px;
  left: 100px;
}

.centermain {
  position: absolute;
  width: 250px;
  text-align: center;
  font-size: 18px;
}

.center1 {
  top: 100px;
  left: 0px;
  width: 200px;
  font-weight: 500;
}

.center {
  position: absolute;
  top: 150px;
  left: 0px;
  font-weight: 900;
}

.centertop {
  font-weight: 900;
  top: 0px;
  left: 0px;
}

.des {
  text-align: center;
}

/*# sourceMappingURL=positionscss.css.map */
