//header
li.nav-item {
  font-size: x-large;
}
.navbar-brand {
  margin-left: 30px;
}
h5 {
  > strong {
    font-weight: 900 !important;
    font-size: xx-large;
  }
}
.btn-buynow {
  background-color: #3a5eea;
}
//header
