@import "header";

$greenish: #b7b2a7;

.normal-text {
  font-size: 20px;
}
.allpage {
  background-color: #e7eefd;
}
.pillcolor {
  background-color: #d9e2ef;
  border-color: #d9e2ef;
}
.xxlarge {
  font-size: 50px;
  font-weight: 0;
}
.fa-3x {
  opacity: 1;
}
.bluishtext {
  color: #3d5eea;
}
.bluishcolor {
  background-color: #3d5eea;
}
.smallarrow {
  font-size: 2px;
}
.carousel-control-prev {
  right: 90%;
}
.fas.fa-arrow-alt-circle-right.text-primary.xxlarge {
  left: 90%; /* Aligns it at the bottom */
}

.onlypadding {
  margin-left: 180px !important;
}

.btn-bg {
  background-color: $greenish;
}
.green {
  color: $greenish;
}
input[type="text"],
input[type="password"] {
  border: 0;
  border: 1px solid #ffffff;
  height: 40px;
  outline: 0;
}

.bgimage {
  background-color: #1b2a4e;
}
  
.imagealign {
  background-color: #1b2a4e;
  width: 100%;
  margin-top: -100%;

  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  z-index: -1;
}

.pill2 {
  background-color: #2c4586;
}

@media only screen and (max-width: 600px) {
  .onlypadding {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 800px) {
  .onlypadding {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .onlypadding {
    margin-left: 50px !important;
  }
}
