.addedpadding {
  padding-top: 12%;
  padding-bottom: 15%;
  font-size: 30px;
}
.bgclass {
  background-image: url("croped.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.lightblue {
  background-color: #6bcfff;
}
.button-size {
  width: 50%;
  border-radius: 2px;
}
.normal-text {
  font-size: large;
}
.nav-padding {
  padding-right: 50px;
  margin-right: 13%;
}
.font-weight-bold {
  font-weight: 400;
}
.display-4 {
  font-size: 40px;
}
a
  .btn
  .btn-sm-2
  .font-weight-bold
  .btn-primary
  .text-sm-center
  .flex-row
  .flex-shrink-1
  .mb-2 {
  width: 100px;
}
@media only screen and (max-width: 400px) {
  .button-size {
    width: 40%;
    align-self: center;
    border-radius: 1px;
  }
  .jumbotron {
    text-align: center;
  }
  .card {
    text-align: center;
  }
  div > p {
    text-align: center;
  }
  /* div > div > .card {
    align-content: center;
  } */
  .text-right {
    text-align: center !important;
  }
  .nav-padding {
    padding-right: 50px;
    margin-right: 0%;
  }
  .normal-text {
    font-size: medium;
  }
  .phn-tab {
    font-size: large !important;
  }
  .display-4 {
    font-size: x-large;
  }
  li {
    font-size: medium;
  }
}
@media only screen and (max-width: 850px) {
  .button-size {
    width: 100%;
    align-self: center;
    border-radius: 1px;
  }
  .jumbotron {
    text-align: center;
  }
  .card {
    text-align: center;
  }
  div > p {
    text-align: center;
  }
  div > div > .card {
    align-content: center;
  }
  footer > div > .row {
    align-self: center;
  }
  .text-right {
    text-align: center !important;
  }
  .nav-padding {
    padding-right: 50px;
    margin-right: 0%;
  }
  .normal-text {
    font-size: medium;
  }
  .display-4 {
    font-size: xx-large;
  }
  li {
    font-size: medium;
  }
}
