@import 'config';

body{
    background-color: $primary-color;
    color: white;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
h1,h2,h3{
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 16px;

}
main{
    height: 100%;
    width: 100%;

    .social-icons{
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                    color: $secondary-color;
            }
        }
    }
}
footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0.4 rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: white;
}